/*删除按钮*/
.del-btn{position: absolute;top: 0;right: 0;height: 80px;width: 80px;text-align: center; font-size:50px;}


/************************************************************************内容为空的页面**/
.empty_box{ width:640px}
.empty_top{width:150px; height:150px; border-radius:100px; background:#CCC; margin:170px auto 60px auto; text-align:center; line-height:150px; font-size:80px; color:#FFF}
.empty_bottom{width:500px; height:180px;margin:40px auto 0px auto}
.empty_bottom h2{color:#666; font-size:30px; height:50px; line-height:50px; text-align:center; margin:0 auto}
.empty_bottom p{color:#999; font-size:22px; height:50px; line-height:50px; margin:0 auto; text-align:center}
.empty_bottom a{margin:0px auto; width:300px; height:150px; text-align:center; display:block; border:1px solid #f2f2f2}
.empty_bottom .a{font-size:25px;width:170px; height:50px; color:#fff; background:#ff8000; border-radius:15px; line-height:50px; text-align:center; margin:30px auto 30px auto}



.recordList{ width:640px; background-color:#FFF;}
.recordList ul{ position:relative;}
.recordList ul li{position:relative; border-bottom:#f2f2f2 4px solid; padding:10px 0 10px 10px;}
/* .recordList ul li imgGoods{ margin-right:50px;} */
.recordList ul li .recordGoodsName{ height:50px; line-height:50px; vertical-align:middle; padding: 10px 0 15px 30px;}
.recordList ul li .nowPlace{ color:#fc363b; font-size:30px; padding-left:30px;}
.recordList ul li .olderPlace{ color:#a6a6a6; text-decoration:line-through;}

.remove-btn{position: absolute;top:50px;right: 0;height: 100%;width: 80px; line-height:100%; vertical-align:middle;text-align: center; font-size:50px; color:#000; display:none;}