/*********************************************************************************头部 */
.header-wrap{position:absolute !important;top: 0 !important;left: 0 !important;width: 640px;height: 80px;background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.15) 100%);}
.header-wrap .logo{margin: 18px 0 0 15px;}
.header-wrap .logo a img{width: 83px;height: 50px;}
.header-wrap .seach-c{margin: 10px 0 0 0;height: 60px;width: 340px;border-radius: 5px;overflow: hidden;background: rgba(255,255,255,0.85);}
.header-wrap .seach-c input.input-txt{width: 280px;height: 60px;padding: 0 5px;font-size: 24px; background: none;}
.header-wrap .seach-c button.input-submit{width: 50px;height: 60px;line-height: 50px;font-size: 38px;color: #BEBEBE;background: none;cursor: pointer;}

.header-wrap .header-r span a{float: left; display: block;width: 80px;height: 80px;line-height: 80px;text-align: center;font-size: 40px;color: #696969;}


/**********************************************************************************轮播图**********************************************************************/
.block-slider {position: relative;background-color: #fff;}
.block-slider .slide {position:relative;}
.block-slider .flex-direction-nav a {display: none; width:25px; height:25px; margin-top:-27px; display:block; position:absolute; top:50%;text-indent:-9000px;}

.block-slider .flex-control-paging {position: absolute;bottom: 20px;right: 10px;z-index: 10;display:inline-block;}
.block-slider .flex-control-paging li {float: left;overflow: hidden;}
.block-slider .flex-control-paging li a {display:block;width:14px; height:14px;margin-right: 5px; border-radius: 50%;background: rgba(0,0,0,0.5);text-indent:-9000px;}
.block-slider .flex-control-paging li a.flex-active {background: #EB4F38;}





.fixed-right-bottom{position: fixed;bottom: 50px;right: 30px;z-index: 9999;}
.fixed-right-bottom a{display: block;padding: 10px 12px;margin-bottom: 15px;border-radius: 50%;font-size: 30px;color: #fff;background: rgba(0,0,0,0.2);}




.goodDetail{background: #f5f5f5;color: #333;}
.goodDetail .header-wrap{position: absolute;z-index: 9;background: none;}
.goodDetail .header-wrap .back span{display: block;width:60px;height:60px;line-height:60px;font-size:30px;margin: 20px 0 0 20px;border-radius: 50%;background: rgba(0,0,0,0.5);color: #fff;text-align: center;}
.goodDetail .header-wrap .header-r span {display: block;width:60px;height:60px;line-height:60px;margin: 20px 20px 0 0;border-radius: 50%;font-size: 40px; background: rgba(0,0,0,0.5);color: #fff;text-align: center;}

.goodpic-wrap{position: relative;width: 640px;overflow: hidden;}
.goodpic-wrap .goodpicBox{overflow: hidden;}
.goodpic-wrap .goodpicBox li{float: left;display: inline-block;width: 640px;overflow: hidden;}
.goodpic-wrap .goodpicBox li img { width:100%;}
.goodpic-wrap .g-picNav{position: absolute;left: 50%;bottom: 10px;display: inline-block;}
.goodpic-wrap .g-picNav li{display: inline-block;width: 10px;height: 10px;margin-right: 10px;border-radius: 50%;background: rgba(0,0,0,0.5);}
.goodpic-wrap .g-picNav li.bNI-on{background: #F23A1E;}



.goodDetail .p-summary{width: 100%;overflow: hidden;}
.goodDetail .p-summary .s-title{width: 615px;padding: 0 15px 0 10px;height: 80px;overflow: hidden;background: #fff;}
.goodDetail .p-summary .s-title .p-name{width: 370px;height: 80px;}
.goodDetail .p-summary .s-title .p-name h3{font-size: 24px;line-height: 32px;color: #333;margin-top: 5px;}
.goodDetail .p-summary .s-title .collection{width: 100px;height: 80px;border-left: 1px solid #e5e5e5;text-align: center;color: #333;margin-right: -15px;}
.goodDetail .p-summary .s-title .collected a{color: #EB4F38;}
.goodDetail .p-summary .s-title .collection p span{display: block;margin: 8px 0 0 0;font-size: 34px}
.goodDetail .p-summary .s-title .price{margin: 5px 10px 0 0;}
.goodDetail .p-summary .s-title .price p.p1{margin-bottom: 0px;color: #EB4F38;}
.goodDetail .p-summary .s-title .price p.p1 em{font-style: normal;font-size: 30px;}
.goodDetail .p-summary .s-title .price p label{padding: 2px 4px;margin-right: 8px;border-radius: 5px;background: #ff8000;color: #fff;}

.goodDetail .p-summary .summary-item{width: 610px;padding: 0 20px 0 10px;margin-top: 15px;background: #fff;}
.goodDetail .p-summary .summary-item a{display: block;width: 100%;padding: 25px 0;color: #333;font-size: 24px;line-height: 30px;}
.goodDetail .p-summary .sales a{}
.goodDetail .p-summary .sales a span{padding: 2px 4px;border-radius: 5px;background: #ff8000;margin-left: 20px;color: #fff;font-size: 20px;}
.goodDetail .p-summary .specs{margin-top: 0;}
.goodDetail .p-summary .specs a span{margin-left: 30px;color: #999;font-size: 20px;}
.goodDetail .p-summary .review a span{margin-left: 30px;color: #999;font-size: 20px;}
/*.goodDetail .p-summary .review a{border-bottom: 1px solid #e5e5e5;}*/
.goodDetail .p-summary .comments{overflow: hidden;}
.goodDetail .p-summary .comments a{display: block;width: 50%;float: left;text-align: center;}
.goodDetail .p-summary .comments a:nth-child(2){margin-left: -1px;border-left: 1px solid #e5e5e5;}
.goodDetail .p-summary .comments a label{margin-right: 10px;font-size: 34px;color: #999;}
.goodDetail .p-summary .comments a label span{font-size: 34px;}
.goodDetail .p-summary .service{text-align: center;}
.goodDetail .p-summary .service span{margin-right: 10px; font-size: 34px;color: #999;}
.iconfont-my-right{color: #999;}


.goodDetail .hot-title{padding: 30px 0;}
.goodDetail .hot-title .line{top: 40px;}



.goodDetail .fixed-bottom{position: fixed;bottom: 0;left: 0;z-index: 9999;width: 640px;height: 80px;-webkit-transition: all 0.2s linear;}
.goodDetail .fixed-bottom ul{overflow: hidden;}
.goodDetail .fixed-bottom ul li{display: block;float: left;width: 33.3333%;height: 80px;line-height: 80px;text-align: center;}
.goodDetail .fixed-bottom ul li.shortcut{background: rgba(0,0,0,0.8);overflow: hidden;}
.goodDetail .fixed-bottom ul li.shortcut a{display: block;width: 50%;height: 80px;float: left;text-align: center;color: #fff;line-height: 30px;}
.goodDetail .fixed-bottom ul li.shortcut a p{position: relative;margin-top: 10px;font-size: 20px}
.goodDetail .fixed-bottom ul li.shortcut a p span{font-size: 40px;}
.goodDetail .fixed-bottom ul li.shortcut a p b{position: absolute;top:-2px;right: 32px;display: block;width: 16px;height: 16px;border-radius: 50%;background: #EB4F38;}
.goodDetail .fixed-bottom ul li.addCart{background: #2FC798;}
.goodDetail .fixed-bottom ul li.gotopay{background: #ff8000;}
.goodDetail .fixed-bottom ul li a{font-size: 24px;color: #fff;}

/*********************************************************************************商品详情规格*****************************************/
.goodDetail .p-summary .specs-details{padding-bottom: 15px;}
#specs-details{display: none;}
.specs-details .select {margin-bottom: 30px;}
.specs-details .label {float: left;width: 40px;white-space: nowrap;padding-left: 10px;color: #686868;text-align: left;}
.specs-details .option {margin-left: 80px;}
.specs-details .link-check.active {border-color: #ff6b6b;background-color: #ff8000;color: #fff;}
.specs-details .link-check {border: 1px solid #ccc;background-color: #fff;border-radius: 3px;display: inline-block;padding-left: 8px;padding-right: 8px;height: 30px;line-height: 30px;margin-right: 12px;margin-bottom: 3px;}
.select:after, .option:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}

.option .btn-add, .option .btn-del {overflow: hidden;text-indent: -200px;background: url("../images/icon-sprites.png") no-repeat -32px -42px;}
.btn-add, .btn-del, .fm-txt {float: left;width: 32px;height: 24px;line-height: 24px;text-align: center;}

.btn-add, .btn-del, .fm-txt {border:1px  solid #ccc;float: left;width: 60px;height: 40px;line-height: 40px;text-align: center;}
.btn-del {border-width: 1px 0 1px 1px;border-radius: 5px 0 0 5px;font-size: 20px;}
.btn-add {border-width: 1px 1px 1px 0;border-radius: 0 5px 5px 0;font-size: 20px;}
.fm-txt{-webkit-tap-highlight-color: rgba(255, 255, 255, 0);  border-width: 1px;font-size: 24px;border-radius: 0;-webkit-appearance: none;backgroumd-color: #fff;}
.num{line-height: 40px;}
.option .btn-del {background-position: 16px -42px;}
/********************************************************************************优惠活动 */
.list-saleinfo{display:none;}
.list-saleinfo li {height: 40px;line-height: 40px;position: relative;margin-bottom:20px;}
.list-saleinfo .col02 {display: -webkit-box;display: -moz-box;display: box;width: 100%;width: 80%;}
.list-saleinfo .icon-bg02 {vertical-align: top;}
.list-entry .icon-bg02 {height: 11px;line-height: 1em;overflow: hidden;padding-top: 1px;padding-bottom: 2px;}
.icon-bg02 {border: 1px solid #f29e9e;color: #f24b48;font-size: 22px;text-align: center;display: inline-block;vertical-align: middle;font-style: normal;background-color: #fff;border-radius: 3px;padding-left: 8px;padding-right: 8px;height: 30px;line-height: 30px;margin-right: 12px;margin-bottom: 3px;}
.list-saleinfo .txt01 {line-height: 30px;display: block;width: 80%;vertical-align: top;}
.txt01 {color: #ff6b6b;}
#sales-details{border-bottom: 1px solid #e5e5e5;}

/* 商品排列样式 */
.Level02 .productShow .productShowList .productShowItem{width:620px;height:150px;position: relative;padding: 20px 10px 20px 10px;background: #fff;float: none;}
.Level02 .productShow .productShowList .productShowItem .productImg{width: 150px;height:150px;float: left;margin-right:10px;}
.Level02 .productShow .productShowList .productShowItem p{width:450px;float: right;padding-right: 10px}
.Level02 .productShow .productShowList .productShowItem .productName{display: block;width: 460px;height:80px;overflow: hidden;text-overflow:ellipsis;font-size: 24px;line-height:32px;margin-bottom: 10px;}
.Level02 .productShow .productShowList .productShowItem .shadow{position: absolute;bottom: -4px;left: 0px;width:640px;height:4px;background: url("../images/shadow.png") top center no-repeat;}
.Level02 .productShow .productShowList{padding-left:0px;padding-bottom:5px;overflow: hidden;}
.Level02 .productShow .productShowList .productShowItem .ratings{display: block;line-height: 30px;font-size: 20px;color:#999999;margin-left: 10px;}
.Level02 .productShow .productShowList .productShowItem p del{display: inline-block;color: #999;}

/* ********************************************************************************热门精选 */
.hot-goods{color: #999;  font-size: 12px;  text-align: center;  position: relative;  padding: 1.5em 0;}
.hot-goods::before{content: "\20";border-top: 1px solid #ccc;position: absolute;top: 50%;left: 10%;right: 10%;}
.hot-goods h1{font-weight:400;display: inline-block;padding: .2em .8em;background-color: #f5f5f5;position: relative;}
/* ********************************************************************************产品列表 */
.productShowList{padding-top: 4px;overflow: hidden;background: #f2f2f2;}
.productShowItem{width:318px;height:430px;position: relative;float: left;margin: 0px 4px  4px 0px;background: #fff;box-shadow:0px 0px 2px #d3d3d3;}
.productShowList li:nth-child(2n){margin-right: 0;}
.productShowItem a img{width: 318px;height: 318px;}
.productShowItem .shadow{position: absolute;bottom: -4px;left: 0px;width:308px;height:4px;background: url("../images/shadow.png") top center no-repeat;}
.productShowItem .mark{position: absolute;top: 8px;left: 8px;}
.productName{display: block;width: 288px;height:64px;margin-left:10px;overflow: hidden;text-overflow:ellipsis;font-size: 23px;margin-bottom: 5px;}
.productShowItem .icon{margin-top: 5px;margin-right: 5px;}
.nowPrice{color: #f35628;margin-left:10px;font-size: 20px;}
.productShowItem .nowPrice label{font-size: 28px;}
.productShowItem .orightPrice{margin-top: 9px;}
.ratings{display: none;}
del{margin-left: 10px;display: none;}


/*footer*/
/*********************************************************************************底部*/
footer{width:640px;margin-top: 10px;padding: 15px 0 0 0;font-size:24px;color:#999999;text-align:center;}
footer p{line-height: 30px;text-align: center}
footer div{overflow: hidden;}
footer .footer-l{margin: 30px 0 0 160px;}
footer .footer-r{margin: 30px 160px 0 0;}
#footer{display: none;}
/*********************************************************************************置顶*/
.scrolltop {display: none;position: fixed;bottom:70px;right:20px;text-align: center;z-index: 9000;height: 70px;width: 70px;color: #ffffff;line-height: 70px;background: #000000;filter: alpha(opacity=0.5);opacity:0.5;border-radius: 35px;box-shadow: 0 1px 2px rgba(0,0,0,0.1);}
.scrolltop span{font-size: 40px;}
.gotocart-link{display: none;}
.gotocart-link a{position: fixed;bottom:150px;right:20px;display: block;width: 70px;height: 70px;border-radius: 50%;line-height: 70px;text-align: center;font-size: 40px;color: #fff;background: rgba(0,0,0,0.5);}
.gotocart-link a b{position: absolute;top: 15px;left: 42px;display: block;width: 16px;height: 16px;border-radius: 50%;background: #EB4F38;}



/**********************************************************************************loading动画*/
#caseMarronFonce {display: none;height: 40px;width: 640px;padding: 20px 0;background: url("../images/load-icon.png") center 28px no-repeat;overflow: hidden;}
#spinner {height : 40px;width : 40px;border : 2px solid transparent;border-left-color : #f53800;border-right-color : #004290;border-radius : 50%;animation : spin 1s linear  infinite;-webkit-animation : spin 1s linear  infinite;margin:0 auto;}
@-webkit-keyframes spin {0% {-webkit-transform : rotate(0deg);}100% {-webkit-transform : rotate(360deg);}}
@keyframes spin {0% {transform : rotate(0deg);}100% {transform : rotate(360deg);}}