<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>堆乐族-首页</title>
    <link rel="stylesheet" href="/static/mobile/css/iconfont.css">
    <link rel="stylesheet" href="/static/mobile/css/public.css">
    <link rel="stylesheet" href="/static/mobile/css/chargeSuc.css">
</head>
<body>

<div class="dlz-wrapper" id="dlz-wrapper">
    <div class="left-content" id="left-content"><!-- 左侧：可放置分类、搜索、触发层 -->
    </div>
    <div class="right-content" id="right-content"><!-- 右侧：可放置快捷操作之类的 -->
    </div>
    <header class="header">
        <div class="back-btn iconfont icon-back1" id="backHistory"></div>
        <div class="header-title">充值成功</div>
    </header>
    <div class="main"><!-- 页面主要内容展示 -->
        <div class="notice">
            <p>
                <i class="iconfont icon-unfold"></i>
                恭喜您 ! 充值成功 !
            </p>
        </div>
        <div class="noticePic">
            <img src="/static/mobile/images/charge.png">
        </div>
        <div class="noticeBtn">
            <a href="#" class="back">
                返回我的特权卡
            </a>

        </div>
    </div>
</div>

<div class="pageLoading" id="pageLoading"><!-- 页面加载loading --></div>


<script src="/static/mobile/js/jquery-1.8.3.min.js"></script>
<script src="/static/mobile/js/common.js"></script>
</body>
</html>