<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>堆乐族-首页</title>
    <link rel="stylesheet" href="/static/mobile/css/iconfont.css">
    <link rel="stylesheet" href="/static/mobile/css/public.css">
    <link rel="stylesheet" href="/static/mobile/css/checkDetail.css">
</head>
<body>

<div class="dlz-wrapper" id="dlz-wrapper">

    <header class="header">
        <div class="back-btn iconfont icon-back1" id="backHistory"></div>
        <div class="header-title">查看明细</div>
    </header>
    <div class="main"><!-- 页面主要内容展示 -->
        <section class="channel">
            <div class="channel-h">
                <div class="channel-nav" id="channel-nav">
                    <div class="btn"></div>
                    <div class="discount curr" id="discount-btn">消费</div>
                    <div class="OneHour" id="OneHour-btn">充值</div>
                </div>
            </div>
            <div class="channel-c">
                <div class="cc-list" id="cc-list">
                    <div class="list" id="consum-list">

                        <div class="listTitle">
                          <p class="sumTitle f-l pl10">消费总计</p>
                            <p class="consumSum f-r "><em>￥</em>500.00</p>
                        </div>

                        <ul class="clearfix">
                            <li>
                                <div class="time f-l">
                                    <div class="date">
                                         12-16
                                    </div>
                                    <div class="year">
                                          2015
                                    </div>
                                </div>
                                <div class="Detail f-r">
                                    <div class="textBox f-l">
                                        <p class="consumNum">-5.00</p>
                                        <p class="serialNum txt-hidden"><span>订单号 :</span>201544653343434343434343436</p>
                                    </div>

                                    <div class="numBox f-r">
                                        <p class="backup txt-hidden"><span>备注 :</span>这里是备注444444444444444444</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="time f-l">
                                    <div class="date">
                                        12-16
                                    </div>
                                    <div class="year">
                                        2015
                                    </div>
                                </div>
                                <div class="Detail f-r">
                                    <div class="textBox f-l">
                                        <p class="consumNum">-5.00</p>
                                        <p class="serialNum txt-hidden"><span>订单号 :</span>201544656</p>
                                    </div>

                                    <div class="numBox f-r">
                                        <p class="backup txt-hidden"><span>备注 :</span>这里是备注</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="time f-l">
                                    <div class="date">
                                        12-16
                                    </div>
                                    <div class="year">
                                        2015
                                    </div>
                                </div>
                                <div class="Detail f-r">
                                    <div class="textBox f-l">
                                        <p class="consumNum">-5.00</p>
                                        <p class="serialNum txt-hidden"><span>订单号 :</span>201544656</p>
                                    </div>

                                    <div class="numBox f-r">
                                        <p class="backup txt-hidden"><span>备注 :</span>这里是备注</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="time f-l">
                                    <div class="date">
                                        12-16
                                    </div>
                                    <div class="year">
                                        2015
                                    </div>
                                </div>
                                <div class="Detail f-r">
                                    <div class="textBox f-l">
                                        <p class="consumNum">-5.00</p>
                                        <p class="serialNum"><span>订单号 :</span>201544656</p>
                                    </div>

                                    <div class="numBox f-r">
                                        <p class="backup"><span>备注 :</span>这里是备注</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="time f-l">
                                    <div class="date">
                                        12-16
                                    </div>
                                    <div class="year">
                                        2015
                                    </div>
                                </div>
                                <div class="Detail f-r">
                                    <div class="textBox f-l">
                                        <p class="consumNum">-5.00</p>
                                        <p class="serialNum"><span>订单号 :</span>201544656</p>
                                    </div>

                                    <div class="numBox f-r">
                                        <p class="backup"><span>备注 :</span>这里是备注</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="time f-l">
                                    <div class="date">
                                        12-16
                                    </div>
                                    <div class="year">
                                        2015
                                    </div>
                                </div>
                                <div class="Detail f-r">
                                    <div class="textBox f-l">
                                        <p class="consumNum">-5.00</p>
                                        <p class="serialNum"><span>订单号 :</span>201544656</p>
                                    </div>

                                    <div class="numBox f-r">
                                        <p class="backup"><span>备注 :</span>这里是备注</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list" id="charge-list">
                        <div class="listTitle">
                            <p class="sumTitle f-l pl10">充值总计</p>
                            <p class="chargeSum f-r"><em>￥</em>500.00</p>
                        </div>
                        <ul class="clearfix">

                            <li>
                                <div class="time f-l">
                                    <div class="date">
                                        12-16
                                    </div>
                                    <div class="year">
                                        2015
                                    </div>
                                </div>
                                <div class="Detail f-r">
                                    <div class="textBox f-l">
                                        <p class="chargeNum ">+5.00</p>
                                        <p class="serialNum txt-hidden"><span>订单号 :</span>20154465644444444444444444</p>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="time f-l">
                                    <div class="date">
                                        12-16
                                    </div>
                                    <div class="year">
                                        2015
                                    </div>
                                </div>
                                <div class="Detail f-r">
                                    <div class="textBox f-l">
                                        <p class="chargeNum">+5.00</p>
                                        <p class="serialNum"><span>订单号 :</span>201544656</p>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="time f-l">
                                    <div class="date">
                                        12-16
                                    </div>
                                    <div class="year">
                                        2015
                                    </div>
                                </div>
                                <div class="Detail f-r">
                                    <div class="textBox f-l">
                                        <p class="chargeNum">+5.00</p>
                                        <p class="serialNum"><span>订单号 :</span>201544656</p>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="time f-l">
                                    <div class="date">
                                        12-16
                                    </div>
                                    <div class="year">
                                        2015
                                    </div>
                                </div>
                                <div class="Detail f-r">
                                    <div class="textBox f-l">
                                        <p class="chargeNum">+5.00</p>
                                        <p class="serialNum"><span>订单号 :</span>201544656</p>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="time f-l">
                                    <div class="date">
                                        12-16
                                    </div>
                                    <div class="year">
                                        2015
                                    </div>
                                </div>
                                <div class="Detail f-r">
                                    <div class="textBox f-l">
                                        <p class="chargeNum">+5.00</p>
                                        <p class="serialNum"><span>订单号 :</span>201544656</p>
                                    </div>

                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </section>

    </div>
</div>

<div class="pageLoading" id="pageLoading"><!-- 页面加载loading --></div>


<script src="/static/mobile/js/jquery-1.8.3.min.js"></script>
<script src="/static/mobile/js/jquery.lazyload.min.js"></script>
<script src="/static/mobile/js/jquery.flexslider-min.js"></script>
<script src="/static/mobile/js/common.js"></script>
<script src="/static/mobile/js/index.js"></script>
</body>
</html>