<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>堆乐族-管理收货地址</title>
    <link rel="stylesheet" href="/static/mobile/css/iconfont.css">
    <link rel="stylesheet" href="/static/mobile/css/public.css">
    <link rel="stylesheet" href="/static/mobile/css/address.css">
</head>
<body>
<div class="dlz-wrapper" id="dlz-wrapper">
    <div class="main"><!-- 页面主要内容展示 -->
        <div class="wrapper register">
            <header class="header">
                <div class="back-btn iconfont icon-back1" id="backHistory"></div>
                <div class="header-title">管理收货地址</div>
            </header>

            <!--管理收货地址列表-->
            <div class="address">
                <ul>
                    <li class="hover">
                        <div class="txt">
                            <div class="txt_left">
                                <span class="name" style="float:left;">收货人：覃德忠</span>
                                <span class="phone" style="float:right; margin-right:10px"> 18007832688</span>
                            </div>
                            <div class="addres" style="float:left; font-size:22px">地址：广西 桂林 七星区 桂林市高新区国家信息产业园 8-3号办公楼</div>
                        </div>
                        <div class="lab show">
                            <i class="iconfont icon-selectfill"></i>
                        </div>

                    </li>
                    <li>
                        <div class="txt">
                            <div class="txt_left">
                                <span style="float:left">收货人：覃德忠</span>
                                <span style="float:right; margin-right:10px"> 18007832688</span>
                            </div>
                            <div style="float:left; font-size:22px">地址：广西 桂林 七星区 桂林市高新区国家信息产业园 8-3号办公楼</div>
                        </div>
                        <div class="lab none">
                            <i class="iconfont icon-selectfill"></i>
                        </div>

                    </li>
                    <li>
                        <div class="txt">
                            <div class="txt_left">
                                <span style="float:left">收货人：覃德忠</span>
                                <span style="float:right; margin-right:10px"> 18007832688</span>
                            </div>
                            <div style="float:left; font-size:22px">地址：广西 桂林 七星区 桂林市高新区国家信息产业园 8-3号办公楼</div>
                        </div>
                        <div class="lab none">
                            <i class="iconfont icon-selectfill"></i>
                        </div>

                    </li>
                    <li>
                        <div class="txt">
                            <div class="txt_left">
                                <span style="float:left">收货人：覃德忠</span>
                                <span style="float:right; margin-right:10px"> 18007832688</span>
                            </div>
                            <div style="float:left; font-size:22px">地址：广西 桂林 七星区 桂林市高新区国家信息产业园 8-3号办公楼</div>
                        </div>
                        <div class="lab none">
                            <i class="iconfont icon-selectfill"></i>
                        </div>

                    </li>
                </ul>
            </div>

            <!--底部固定-->
            <div class="address_bottom">新增收货地址</div>
        </div>
    </div>
</div>
<!-- 提示信息 -->
<div class="prompt-txt" id="prompt-txt">保存成功</div>
<div id="pageLoading"><!-- 页面加载loading --></div>
<script src="/static/mobile/js/jquery-1.8.3.min.js"></script>
<script src="/static/mobile/js/common.js"></script>
</body>
</html>