<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>堆乐族-物流查询</title>
    <link rel="stylesheet" href="/static/mobile/css/iconfont.css">
    <link rel="stylesheet" href="/static/mobile/css/public.css">
    <link rel="stylesheet" href="/static/mobile/css/logistics.css">
</head>
<body>
<div class="dlz-wrapper" id="dlz-wrapper">
    <div class="main"><!-- 页面主要内容展示 -->
      <div class="wrapper register">
          <header class="header">
              <div class="back-btn iconfont icon-back1" id="backHistory"></div>
              <div class="header-title">物流查询</div>        
          </header>
      </div>
      <div class="logistics">
        <div class="info">
          <p>订单编号：201510192016</p>
          <p>物流公司：顺丰快递</p>
        </div>
        <div class="route">
          <div class="route-unit lastest">
            <div class="sign"><i class="iconfont icon-location"></i></div>
            <div class="txt noborder">
              <h3>您的订单在【象山站】验货完成，正在分配配送员送货</h3>
              <p class="time">2015-10-14  11:03</p>
            </div>
          </div>
          <div class="route-unit">
            <div class="sign">
              <div class="line"></div>
              <div class="dot"></div>
            </div>
            <div class="txt">
              <h3>您的订单在【象山站】验货完成，正在分配配送员送货</h3>
              <p class="time">2015-10-14  11:03</p>
            </div>
          </div>
          <div class="route-unit">
            <div class="sign">
              <div class="line"></div>
              <div class="dot"></div>
            </div>      
            <div class="txt">
              <h3>您的订单在【象山站】验货完成，正在分配配送员送货</h3>
              <p class="time">2015-10-14  11:03</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>      
<div class="pageLoading" id="pageLoading"><!-- 页面加载loading --></div>
<script src="/static/mobile/js/jquery-1.8.3.min.js"></script>
<script src="/static/mobile/js/common.js"></script>
</body>
</html>