<footer class="footer" id="footer">
    <img src="/static/mobile/images/f-logo.png">
    <p class="phone">400-8888-899</p>
    <p class="addr"><i class="iconfont icon-locationfill"></i>桂林市七星区国家高新区信息产业园8-3 号</p>
    <p class="copyright">© 2015 桂林堆乐族网络科技有限公司 桂ICP备09001975号-3</p>
</footer>
</div>
</div>

<div class="pageLoading" id="pageLoading"><!-- 页面加载loading --></div>
<div class="gototop iconfont icon-backtop" id="gototop"><!-- 回顶 --></div>


<script src="/static/mobile/js/jquery-1.8.3.min.js"></script>
<script src="/static/mobile/js/jquery.lazyload.min.js"></script>
<script src="/static/mobile/js/jquery.flexslider-min.js"></script>
<script src="/static/mobile/js/common.js"></script>
<script src="/static/mobile/js/index.js"></script>
</body>
</html>