<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>堆乐族-退款及退货</title>
    <link rel="stylesheet" href="/static/mobile/css/iconfont.css">
    <link rel="stylesheet" href="/static/mobile/css/public.css">
    <link rel="stylesheet" href="/static/mobile/css/member_return_refund.css">
</head>
<body>
<div class="dlz-wrapper" id="dlz-wrapper">
    <div class="main"><!-- 页面主要内容展示 -->
        <div class="wrapper">
            <header class="header noborder">
                <div class="back-btn iconfont icon-back1" id="backHistory"></div>
                <div class="header-title">退款及退货</div>        
            </header>
            <div class="return-refund-wrapper">
                <div class="re-nav">
                    <ul>
                        <li class="actived"><a href="">退款申请</a></li>
                        <li><a href="">退货申请</a></li>
                    </ul>                    
                </div>
                <div class="re-list">
                    <div class="re-item">
                        <div class="re-item-h">
                            <span><i class="iconfont icon-shop mr10"></i>店铺名称</span>
                            <span class="time f-r">2015-12-31</span>
                        </div>
                        <div class="re-item-m">
                            <a href=""><!-- 这里放退款或退货详情页的链接 -->
                                <ul>
                                    <li class="g-img f-l"><img src="/static/mobile/images/good2.jpg"></li>
                                    <li class="g-name f-l"><p>产品名称产品名称产品名称产品名称产品名称</p></li>
                                    <li class="f-r"><i class="iconfont icon-right"></i></li>
                                </ul>
                            </a>                            
                        </div>
                        <div class="re-item-b">
                            <span class="status-done"><i class="iconfont icon-select"></i>已完成</span>
                            <span class="money f-r">退款金额：<em>￥500.00</em></span>
                        </div>
                    </div>


                    <div class="re-item">
                        <div class="re-item-h">
                            <span><i class="iconfont icon-shop mr10"></i>店铺名称</span>
                            <span class="time f-r">2015-12-31</span>
                        </div>
                        <div class="re-item-m">
                            <a href=""><!-- 这里放退款或退货详情页的链接 -->
                                <ul>
                                    <li class="g-img f-l"><img src="/static/mobile/images/good2.jpg"></li>
                                    <li class="g-img f-l"><img src="/static/mobile/images/good2.jpg"></li>
                                    <li class="g-img f-l"><img src="/static/mobile/images/good2.jpg"></li>
                                    <li class="f-r"><i class="iconfont icon-right"></i></li>
                                </ul>
                            </a>                            
                        </div>
                        <div class="re-item-b">
                            <span class="status-ing"><i class="iconfont icon-info"></i>审核中</span>
                            <span class="money f-r">退款金额：<em>￥500.00</em></span>
                        </div>
                    </div>


                    <div class="re-item">
                        <div class="re-item-h">
                            <span><i class="iconfont icon-shop mr10"></i>店铺名称</span>
                            <span class="time f-r">2015-12-31</span>
                        </div>
                        <div class="re-item-m">
                            <a href=""><!-- 这里放退款或退货详情页的链接 -->
                                <ul>
                                    <li class="g-img f-l"><img src="/static/mobile/images/good2.jpg"></li>
                                    <li class="g-img f-l"><img src="/static/mobile/images/good2.jpg"></li>
                                    <li class="g-img f-l"><img src="/static/mobile/images/good2.jpg"></li>
                                    <li class="g-img f-l"><img src="/static/mobile/images/good2.jpg"></li>
                                    <li class="g-img f-l"><img src="/static/mobile/images/good2.jpg"></li>
                                    <li class="dot f-l"><i class="iconfont icon-more"></i></li>
                                    <li class="f-r"><i class="iconfont icon-right"></i></li>
                                </ul>
                            </a>                            
                        </div>
                        <div class="re-item-b">
                            <span class="status-done"><i class="iconfont icon-select"></i>已完成</span>
                            <span class="money f-r">退款金额：<em>￥500.00</em></span>
                        </div>
                    </div>

                    <!-- 退货列子 -->
                    <br /><br /><br /><br />
                    <div class="re-item">
                        <div class="re-item-h">
                            <span><i class="iconfont icon-shop mr10"></i>店铺名称</span>
                            <span class="time f-r">2015-12-31</span>
                        </div>
                        <div class="re-item-m">
                            <a href=""><!-- 这里放退款或退货详情页的链接 -->
                                <ul>
                                    <li class="g-img f-l"><img src="/static/mobile/images/good2.jpg"></li>
                                    <li class="g-name f-l"><p>产品名称产品名称产品名称产品名称产品名称</p><p class="num">数量：1</p></li>
                                    <li class="f-r"><i class="iconfont icon-right"></i></li>
                                </ul>
                            </a>                            
                        </div>
                        <div class="re-item-b">
                            <span class="status-done"><i class="iconfont icon-select"></i>已完成</span>
                            <span class="money f-r">退款金额：<em>￥500.00</em></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>        

<div id="information"></div>
<!-- 页面加载loading -->
<div id="pageLoading"></div>
<script src="/static/mobile/js/jquery-1.8.3.min.js"></script>
<script src="/static/mobile/js/common.js"></script>
</body>
</html>
