<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>堆乐族-退款及退货</title>
    <link rel="stylesheet" href="/static/mobile/css/iconfont.css">
    <link rel="stylesheet" href="/static/mobile/css/public.css">
    <link rel="stylesheet" href="/static/mobile/css/member_return_refund.css">
</head>
<body>
<div class="dlz-wrapper" id="dlz-wrapper">
    <div class="main"><!-- 页面主要内容展示 -->
        <div class="wrapper">
            <header class="header noborder">
                <div class="back-btn iconfont icon-back1" id="backHistory"></div>
                <div class="header-title">退货详情</div>        
            </header>
            <div class="return-refund-wrapper">
                <div class="return-step">
                    <ul>
                        <li class="step1 curr">
                            <div class="circle">1</div>
                            <p>申请退货</p>
                        </li>
                        <li class="step2">
                            <div class="circle">2</div>
                            <p>卖家处理</p>
                        </li>
                        <li class="step3">
                            <div class="circle">3</div>
                            <p>买家退货</p>
                        </li>
                        <li class="step4">
                            <div class="circle">4</div>
                            <p>退货完成</p>
                        </li>
                    </ul>
                    <div class="line"></div>
                </div>


                <div class="return-refund-info">
                    <dl>
                        <dt>退货编号：</dt>
                        <dd>1234567890123</dd>
                    </dl>
                    <dl>
                        <dt>退货原因：</dt>
                        <dd>其他</dd>
                    </dl>
                    <dl>
                        <dt>退货金额：</dt>
                        <dd>￥0.01</dd>
                    </dl>
                    <dl>
                        <dt>退货数量：</dt>
                        <dd>1</dd>
                    </dl>
                    <div class="evidence">
                        <span>凭证上传：</span>
                        <ul>
                            <li><img src="/static/mobile/images/good2.jpg"></li>
                            <li><img src="/static/mobile/images/good2.jpg"></li>
                            <li><img src="/static/mobile/images/good2.jpg"></li>
                        </ul>
                    </div>
                    <dl>
                        <dt>状态：</dt>
                        <dd><span class="status-done">已完成</span></dd>
                    </dl>
                    <dl>
                        <dt>备注：</dt>
                        <dd>123</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>        

<div id="information"></div>
<!-- 页面加载loading -->
<div id="pageLoading"></div>
<script src="/static/mobile/js/jquery-1.8.3.min.js"></script>
<script src="/static/mobile/js/common.js"></script>
</body>
</html>
