<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>堆乐族-我的必馨互联</title>
    <link rel="stylesheet" href="/static/mobile/css/iconfont.css">
    <link rel="stylesheet" href="/static/mobile/css/public.css">
    <link rel="stylesheet" href="/static/mobile/css/bxhl.css">
</head>
<body style="background:#f2f2f2;">

<div class="dlz-wrapper" id="dlz-wrapper">
    <div class="main"><!-- 页面主要内容展示 -->
        <div class="wrapper">
            <header class="header">
                <div class="back-btn iconfont icon-back1"  id="backHistory"></div>
                <div class="header-title">我的必馨互联</div>        
            </header>            
            <div class="bxhl-wrap">
                <p class="mb20">无需记住本站的账号和密码，随时使用绑定账号轻松登录</p>
                <div class="bxhl-status">
                    <div class="img">
                        <img src="/static/mobile/images/bxhl-img.png">
                        <p class="mt20">必馨互联</p>
                    </div>
                    <div class="info">
                        <ul>
                            <li><span>状态：</span>已绑定</li>
                            <li><span>会员名：</span>会员13152571631</li>
                            <li><span>手机号码：</span>13152571631</li>
                        </ul>
                    </div>
                    <div class="dotted dotted1"></div>
                    <div class="dotted dotted2"></div>
                    <div class="line"></div>
                </div>
            </div>
    </div>
</div>

        

<div class="pageLoading" id="pageLoading"><!-- 页面加载loading --></div>
<script src="/static/mobile/js/jquery-1.8.3.min.js"></script>
<script src="/static/mobile/js/common.js"></script>
</body>
</html>
