<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>鑫鑫超市-我的代金券</title>
    <link rel="stylesheet" href="/static/mobile/css/iconfont.css">
    <link rel="stylesheet" href="/static/mobile/css/public.css">
    <link rel="stylesheet" href="/static/mobile/css/empty.css">
</head>
<body>
<div class="dlz-wrapper" id="dlz-wrapper">
    <div class="main"><!-- 页面主要内容展示 -->
      <div class="wrapper">    
          <header class="header">
              <div class="back-btn iconfont icon-back1" id="backHistory"></div>
              <div class="header-title">代金券</div>        
          </header>
      </div>
      <div class="empty_box">
             <div class="empty_top">
               <i class="iconfont icon-ticket"></i>
             </div>
             <div class="empty_bottom">
                 <h2>您还没有代金卷喔！</h2>
                 <p>赶紧去逛逛吧！</p>
                  <a href="#">
                        <div class="a">返回首页</div>
                     </a>
              </div>  
      </div>
    </div>
</div>

<div class="pageLoading" id="pageLoading"><!-- 页面加载loading --></div>
<script src="/static/mobile/js/jquery-1.8.3.min.js"></script>
<script src="/static/mobile/js/common.js"></script>
</body>
</html>