<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>堆乐族-用户中心</title>
    <link rel="stylesheet" href="/static/mobile/css/iconfont.css">
    <link rel="stylesheet" href="/static/mobile/css/userCenter.css">
    <link rel="stylesheet" href="/static/mobile/css/public.css">
</head>
<body>
<div class="dlz-wrapper" id="dlz-wrapper">
    <div class="left-content" id="left-content">
        <div class="close-layer" id="CloseLayer"></div><!-- 触发层 -->
    </div>
    <div class="right-content" id="right-content"><!-- 右侧：可放置快捷操作之类的 -->
        <div class="userinfo">
            <!-- 未登录状态显示出来 -->
            <div class="default-statue">
                <div class="default-img"><img src="/static/mobile/images/avatar.jpg"></div>
                <div class="login-reg-btn">
                    <a href="">登录</a>
                    <a class="reg" href="">注册</a>
                </div>
            </div> 
            <!--登陆之后 -->
            <!-- <div class="having-login">
                <div class="avatar"><img src="/static/mobile/images/avatar.jpg"></div>
                <p class="username txt-hidden">dlz1888888888888888</p>
            </div> -->
        </div>
        <div class="menu" id="menu">
            <ul>
                <li>
                    <a href="">
                        <p><i class="iconfont icon-home"></i>首页</p>
                    </a>
                </li>
                <li class="cart">
                    <a href="">
                        <p><i class="iconfont icon-cart"></i>购物车<em>100</em></p>
                    </a>
                </li>
                <li class="message">
                    <a href="">
                        <p><i class="iconfont icon-message"></i>我的消息<em>20</em></p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p><i class="iconfont icon-my1"></i>会员中心</p>
                    </a>
                </li>
                <!--登陆之后才显示 -->
                <li>
                    <a href="">
                        <p><i class="iconfont icon-pullright"></i>退出登录</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main"><!-- 页面主要内容展示 -->
        <div class="inner" id="inner">
            <div class="u-header">
                <div class="focus-img"><img src="/static/mobile/images/usercenter.png"></div>
                <div class="comment">
                    <a class="u-h-icon"  id="more-btn" href="javascript:;"><i class="iconfont icon-more"></i></a>
                </div>
                <div class="user-info">
                    <div class="user-info-img">
                        <img src="/static/mobile/images/avatar.jpg" alt="头像">
                    </div>
                    <div class="user-info-name">
                       <p>飞翔的奇瑞</p><img src="/static/mobile/images/grade.png" title="等级"/>
                    </div>
                </div>    </div>
            <div class="user-fav-wrap">
                <div class="user-fav-content">
                    <ul>
                        <li class="user-fav-item">
                            <a href="">
                                <div class="item1-c">
                                    <h3>2</h3>
                                    <p>我收藏的宝贝</p>
                                </div>
                            </a>
                        </li>
                       
                        <li class="user-fav-item">
                            <a href="">
                                <div class="item3-c">
                                    <h3>304</h3>
                                    <p>我浏览的记录</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="user-count-wrap">
                <div class="user-count-content">
                    <ul>
                        <li class="user-count-item uc-item1">
                            <a href="">
                                <div class="item1-c">
                                    <h3><i class="iconfont icon-rmb"></i></h3>
                                    <p>余额<label>(58000)</label></p>
                                </div>
                            </a>
                        </li>
                        <li class="user-count-item uc-item2">
                            <a href="">
                                <div class="item2-c">
                                    <h3><i class="iconfont icon-coupon"></i></h3>
                                    <p>代金券<label>(10)</label></p>
                                </div>
                            </a>
                        </li>
                        <li class="user-count-item uc-item3">
                            <a href="">
                                <div class="item3-c">
                                    <h3><i class="iconfont icon-jinbi"></i></h3>
                                    <p>积分<label>(5555)</label></p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="u-wrap allorder">
                <div class="allorder-content content">
                    <div class="u-wrap-icon allorder-icon"></div>
                    <p>
                        <a href="orderdetail.html">
                            <label>全部订单</label>
                            <label class="f-r"><i class="iconfont icon-right"></i></label>
                            <em class="f-r">查看全部已购宝贝</em>
                        </a>
                    </p>
                </div>
            </div>
            <div class="u-wrap mycart mt20">
                <div class="mycart-content content">
                    <div class="u-wrap-icon mycart-icon"></div>
                    <p>
                        <a href="cart.html">
                            <label>我的购物车</label>
                            <label class="f-r"><i class="iconfont icon-right"></i></label>
                            <em class="f-r">查看我的购物车</em>
                        </a>
                    </p>
                </div>
            </div>
            <div class="u-wrap addr">
                <div class="fav-content content">
                    <div class="u-wrap-icon addr-icon"></div>
                    <p>
                        <a href="address.html">
                            <label>收货地址</label>
                            <label class="f-r"><i class="iconfont icon-right"></i></label>
                            <em class="f-r">修改收货地址</em>
                        </a>
                    </p>
                </div>
            </div>
            <div class="u-wrap accountInfo mt20">
                <div class="content">
                    <div class="u-wrap-icon accountInfo-icon"></div>
                    <p>
                        <a href="account.html">
                            <label>账户信息</label>
                            <label class="f-r"><i class="iconfont icon-right"></i></label>
                        </a>
                    </p>
                </div>
            </div>
            <div class="u-wrap mes">
                <div class="content">
                    <div class="u-wrap-icon message-icon"></div>
                    <p>
                        <a href="message.html">
                            <label>我的消息</label>
                            <label class="f-r"><i class="iconfont icon-right"></i></label>
                        </a>
                    </p>
                </div>
            </div>
            <div class="u-wrap tuiguang">
                <div class="content">
                    <div class="u-wrap-icon message-icon"></div>
                    <p>
                        <a href="message.html">
                            <label>我的推广</label>
                            <label class="f-r"><i class="iconfont icon-right"></i></label>
                        </a>
                    </p>
                </div>
            </div>
            <div class="u-wrap hulian mt20">
                <div class="content">
                    <div class="u-wrap-icon hulian-icon"></div>
                    <p>
                        <a href="">
                            <label>必馨互联账户</label>
                            <label class="f-r"><i class="iconfont icon-right"></i></label>
                        </a>
                    </p>
                </div>
            </div>
            <div class="u-wrap help mt20">
                <div class="content">
                    <div class="u-wrap-icon help-icon"></div>
                    <p>
                        <a href="">
                            <label>联系客服</label>                    
                        </a>
                    </p>
                </div>
            </div>
            <div class="u-wrap tousu">
                <div class="content">
                    <div class="u-wrap-icon tousu-icon"></div>
                    <p>
                        <a href="complaints.html">
                            <label>投诉</label>                    
                        </a>
                    </p>
                </div>
            </div>
            <div class="u-wrap exit mt20">
                <div class="content">
                    <p>
                        <a href="javascript:;">
                            <label>退出</label>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
        

<div class="pageLoading" id="pageLoading"><!-- 页面加载loading --></div>
<script src="/static/mobile/js/jquery-1.8.3.min.js"></script>
<script src="/static/mobile/js/common.js"></script>
</body>
</html>