<!doctype html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>堆乐族-注册</title>
    <link rel="stylesheet" href="/static/mobile/css/iconfont.css">
    <link rel="stylesheet" href="/static/mobile/css/public.css">
    <link rel="stylesheet" href="/static/mobile/css/register.css">
</head>
<body>
<div class="dlz-wrapper" id="dlz-wrapper">
    <div class="main"><!-- 页面主要内容展示 -->
      <div class="wrapper">
            <header class="header">
                <div class="back-btn iconfont icon-back1" id="backHistory"></div>
                <div class="header-title">注册</div>        
            </header>
            <div class="reg-step">
                <div class="line"></div>
                <div class="stepList">
                    <ul><!-- 说明：进行到哪一步就相应添加类名《curr》 -->
                        <li class="step1 ">
                            <div class="circle">1</div>
                            <p>验证手机</p>
                        </li>
                        <li class="step2 ">
                            <div class="circle">2</div>
                            <p>注册成功</p>
                        </li>
                        <li class="step3 curr">
                            <div class="circle">3</div>
                            <p>完善信息</p>
                        </li>
                    </ul>
                 </div>
            </div>
            <div class="register-content3">
                <form action="" method="get">
                    <div class="register-frame mt20">
                        <dl>
                            <dt><label>用户名：</label></dt>
                            <dd><input type="text"  id="id" class="txt" value="" maxlength="32" placeholder="请输入用户名"></dd>
                        </dl>
                         <dl>
                            <dt><label>旧密码：</label></dt>
                            <dd><input type="text"="username" class="txt" value="" maxlength="32" placeholder="请输入旧密码"></dd>
                        </dl> 
                         <dl>
                            <dt><label>新密码：</label></dt>
                            <dd><input type="text"  id="username" class="txt" value="" maxlength="32" placeholder="请输入新密码"></dd>
                        </dl> 
                         <dl>
                            <dt><label>重复新密码：</label></dt>
                            <dd><input type="text" ="username" class="txt" value="" maxlength="32" placeholder="请再输入新密码"></dd>
                        </dl> 
                         <dl>
                            <dt><label>姓名：</label></dt>
                            <dd><input type="text"="username" class="txt" value="" maxlength="32" placeholder="请输入姓名"></dd>
                        </dl> 
                         <dl>
                            <dt><label>性别：</label></dt>
                            <dd><button class="sex" type="button">男</button><button type="button" class="sex nv">女</button></dd>
                        </dl> 
                         <dl>
                            <dt><label>生日：</label></dt>
                            <dd><input type="text" ="birthday" class="txt" value="" maxlength="32" placeholder="请输入生日"></dd>
                        </dl> 
                         <dl>
                            <dt><label>住址：</label></dt>
                            <dd><input type="text" ="useradress" class="txt" value="" maxlength="32" placeholder="请输入住址"></dd>
                        </dl>                 
                        
                    </div>                
                </form>        
            </div>
            <div class="btn ml20 mb20">
                <button type="submit" class="perfect">完善信息</button><button class="gobrowse" >忽略</button>
            </div>
        </div>
    </div>
</div>
        

<div class="pageLoading" id="pageLoading"><!-- 页面加载loading --></div>
<script src="/static/mobile/js/jquery-1.8.3.min.js"></script>
<script src="/static/mobile/js/common.js"></script>
<body>
</body>
</html>
