<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>堆乐族-商品晒单</title>
    <link rel="stylesheet" href="/static/mobile/css/iconfont.css">
    <link rel="stylesheet" href="/static/mobile/css/public.css">
    <link rel="stylesheet" href="/static/mobile/css/productComment.css">
</head>
<body>

<div class="dlz-wrapper" id="dlz-wrapper">

    <header class="header">
        <div class="back-btn iconfont icon-back1" id="backHistory"></div>
        <div class="header-title">商品晒单</div>
    </header>

    <div class="main"><!-- 页面主要内容展示 -->

        <div class="commentWrap">
            <div class="commentContent">
                <div class="userPic f-l">
                    <img src="/static/mobile/images/userPic.png">
                </div>
                <div class="userDetail f-l">
                    <div class="userName">
                        <div class="name f-l">会员名称</div>
                        <div class="time f-r">2015.12.12</div>
                    </div>
                    <div class="comment">
                        <p>这个是商品评论，这个是商品评论。这个是商品评论这个是商品评论。这个是商品评论，评论这</p>
                    </div>
                </div>
            </div>
            <div class="commentPic">
                <div class="picWrap f-r pt10">
                    <img src="">
                    <img src="">
                    <img src="">
                    <img src="">
                    <img src="">
                </div>
            </div>
        </div>

        <div class="commentWrap">
            <div class="commentContent">
                <div class="userPic f-l">
                    <img src="/static/mobile/images/userPic.png">
                </div>
                <div class="userDetail f-l">
                    <div class="userName">
                        <div class="name f-l">会员名称</div>
                        <div class="time f-r">2015.12.12</div>
                    </div>
                    <div class="comment">
                        <p>这个是商品评论，这个是商品评论。这个是商品评论这个是商品评论。这个是商品评论，评论这</p>
                    </div>
                </div>
            </div>
            <div class="commentPic">
                <div class="picWrap f-r pt10">
                    <img src="">
                    <img src="">
                    <img src="">
                    <img src="">
                    <img src="">
                </div>
            </div>
        </div>
        <div class="commentWrap">
            <div class="commentContent">
                <div class="userPic f-l">
                    <img src="/static/mobile/images/userPic.png">
                </div>
                <div class="userDetail f-l">
                    <div class="userName">
                        <div class="name f-l">会员名称</div>
                        <div class="time f-r">2015.12.12</div>
                    </div>
                    <div class="comment">
                        <p>这个是商品评论，这个是商品评论。这个是商品评论这个是商品评论。这个是商品评论，评论这</p>
                    </div>
                </div>
            </div>
            <div class="commentPic">
                <div class="picWrap f-r pt10">
                    <img src="">
                    <img src="">
                    <img src="">
                    <img src="">
                    <img src="">
                </div>
            </div>
        </div>

    </div>

</div>

<div class="pageLoading" id="pageLoading"><!-- 页面加载loading --></div>


<script src="/static/mobile/js/jquery-1.8.3.min.js"></script>
<script src="/static/mobile/js/common.js"></script>
</body>
</html>